<div class="user-auth">
  <!-- SignUp -->
  <div *ngIf="!showLogin" class="signup">
    <h1>User SignUp</h1>
    <form
      #userSingUp="ngForm"
      (ngSubmit)="signUp(userSingUp.value)"
      class="common-form"
    >
      <input
        type="text"
        class="form-input"
        placeholder="Enter Name"
        ngModel
        #name="ngModel"
        required
        minlength="2"
        name="name"
      />
      <p class="invalid-input">
        <span *ngIf="name.invalid && name.touched"
          >Name length should be atleast 2</span
        >
      </p>
      <input
        type="email"
        class="form-input"
        placeholder="Enter Email"
        ngModel
        name="email"
        #email="ngModel"
        required
        email
      />
      <p class="invalid-input">
        <span *ngIf="email.invalid && email.touched"
          >Please Enter Email in Correct Format</span
        >
      </p>
      <input
        type="password"
        class="form-input"
        placeholder="Password"
        ngModel
        name="password"
        #password="ngModel"
        required
        minlength="5"
      />
      <p class="invalid-input">
        <span *ngIf="password.invalid && password.touched"
          >Password length should be atleast 5</span
        >
      </p>
      <button class="form-button" [disabled]="userSingUp.invalid">
        SignUp
      </button>
      <a class="auth-toggle-link" (click)="LoginOrSignUp()"
        >Already Have an Account? Click to Login</a
      >
    </form>
  </div>

  <!-- Login -->
  <div *ngIf="showLogin" class="login">
    <h1>User Login</h1>
    <p class="error-p" *ngIf="showLoginInfo">{{ showLoginInfo }}</p>
    <form
      #userLogin="ngForm"
      (ngSubmit)="login(userLogin.value)"
      class="common-form"
    >
      <input
        type="email"
        class="form-input"
        placeholder="Name"
        name="Name"
        ngModel
        required
      />
      <input
        type="password"
        class="form-input"
        placeholder="Password"
        ngModel
        name="password"
        required
      />
      <button class="form-button">Login</button>
      <a class="auth-toggle-link" (click)="LoginOrSignUp()"
        >Don't Have an Account? Click to SignUp</a
      >
    </form>
  </div>
</div>
