<div *ngIf="searchResult != undefined">
  <div class="row search-item" *ngFor="let item of searchResult">
    <div class="col-sm-3">
      <a routerLink="/details/{{ item.Id }}">
        <img [src]="item.Image" alt="{{ item.Description }}" />
      </a>
    </div>
    <div class="col-sm-8 details">
      <a routerLink="/details/{{ item.Id }}">
        <h6>{{ item.Name }}</h6>
      </a>
      <p>
        <strong>{{ item.Price }}</strong>
      </p>
      <p>
        <span>{{ item.Color }}</span> <span>{{ item.Category }}</span>
      </p>
      <p>{{ item.Description }}</p>
    </div>
  </div>
</div>

<div class="search-error" *ngIf="searchResult == undefined">
  <h4>{{ searchErrorMessage }}</h4>
</div>
